<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <title><%- pgTitle %></title>

    <body class="bodyHome">
        <%- include('../partials/nav-bar') %> <%- include('../partials/modal-login') %> <br /><%-
        include('../partials/productsCaroussel') %> <%-include('../partials/FeaturedProductsList') %>
    </body>
    <%- include('../partials/footer') %>
</html>
