<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <title><%- pgTitle %></title>
    <link rel="stylesheet" href="/dist/bootstrap.css" />

    <body class="bodyHome">
        <%- include('../partials/nav-bar') %>
        <div id="otherElements" class="otherElements">
            <br /><%- include('../partials/productsCaroussel') %> <%-include('../partials/FeaturedProductsList') %>
        </div>
    </body>
    <%- include('../partials/footer') %>
</html>
