<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="/dist/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/product-details.css" />

    <title>P_COMMERCE - <%- PRODUCT.name %></title>
    <style>
        .otherElements.normal {
            filter: brightness(40%);
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        }
        .otherElements {
            opacity: 1;
        }
    </style>
    <body>
        <%- include('../partials/nav-bar') %>
        <div id="otherElements" class="otherElements" style="height: 100vh">
            <br />
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12 mr-5 prodDetailsImgTitle">
                        <h1 class="display-5"><%- PRODUCT.name %></h1>
                        <img src="<%= PRODUCT.img %>" class="img-product mt-3" alt="" />
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 prodDetails" style="padding: 2%">
                        <div class="row">
                            <div class="col">
                                <h3 class="font-weight-semibold mb-2 price" style="text-align: left">
                                    <%- PRODUCT.price %>€
                                </h3>
                                <p class="font-weight-semibold mb-2" style="text-align: left; font-size: 18px">
                                    <i class="bx bxs-check-circle" style="color: greenyellow"></i> Avaiable
                                </p>
                            </div>
                            <div class="col">
                                <button
                                    id="addToCart"
                                    class="btn btn-danger mt-1 text-white btn-block"
                                    data-id="<%- (PRODUCT.id);%>"
                                >
                                    <span
                                        style="font-size: 25px; vertical-align: middle"
                                        class="bx bx-cart-add mr-2 center-text"
                                    ></span
                                    >Add to cart
                                </button>
                            </div>
                        </div>
                        <br />
                        <p style="text-align: justify"><%- PRODUCT.desc %></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include('../partials/footer') %>
</html>
