<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <body>
        <div class="conProductShow">
            <h1 class="display-5"><%= productId %> | <%= productName %></h1>
            <img src="<%= productImg %>" alt="" />

            <p><%= productDesc %></p>
        </div>
    </body>
    <%- include('../partials/footer') %>
</html>
