<%- include('./modal-login') %>

<div style="margin-bottom: 90px">
    <nav
        class="navbar navbar-expand-sm navbar-dark bg-danger navbar-expand fixed-top"
        style="
            height: 85px;
            background-image: radial-gradient(circle, rgba(49, 64, 142, 0.9) 65%, rgba(125, 20, 42, 1) 100%),
                url('../img//customers-choice.jpg');
            background-size: auto;
            padding: 10px;
        "
    >
        <div class="container container-w100">
            <a
                class="toggleSideNav"
                data-bs-toggle="offcanvas"
                href="#offcanvasScrolling"
                role="button"
                aria-controls="offcanvasExample"
            >
                <div class="d-flex left-navbar">
                    <div class="d-flex align-items-center" style="display: flex; align-items: center">
                        <span class="bx bx-menu fs-2 a-buttons text-white"></span>
                        <span class="fs-6 fw-bold menu-nav text-white">MENU</span>
                    </div>
                    <a
                        href="#"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#searchbar"
                        aria-controls="offcanvasTop"
                        ><span class="fs-2 mt-1 a-buttons text-white bx bx-search-alt-2 ml-4"></span
                    ></a>
                    <div class="home-nav">
                        <a href=""><span class="bx bxs-home fs-2 ml-4 text-white" href="/"></span></a>
                    </div>
                </div>
            </a>

            <a class="navbar-brand" href="/" style="font-weight: 500; font-size: 25px"
                ><img class="logoNavExtended" src="/img/logo.png" loading="lazy" alt="" loading="lazy" />
            </a>

            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <form class="form-inline my-2 my-lg-0">
                    <% if (locals.isLoggedIn == true) { %>
                    <div class="text-center text-white">
                        <div class="loginFull">
                            <span style="font-size: 15px" id="navabar-fname" class="btn text-white"
                                >Welcome, <%= customer.first_name %>!</span
                            >
                            <a href="/my-account#details" class="btn btn-light my-2 my-sm-0 btn-block">My Account</a>
                        </div>
                        <div class="loginIcon">
                            <a href="/my-account#details" class="my-2 my-sm-0 btn-block"
                                ><span style="color: white" class="fs-2 bx bxs-user"></span
                            ></a>
                        </div>
                    </div>
                    <div class="m-4">
                        <a
                            data-bs-toggle="offcanvas"
                            href="#offcanvasCart"
                            role="button"
                            aria-controls="offcanvasExample"
                            id="cart"
                            ><div class="cart">
                                <span id="cart-items-count"></span>
                                <!--   <span class="count">1</span> -->
                                <i style="color: white" class="bx bx-cart fs-2"></i>
                            </div>
                        </a>
                    </div>
                    <%}else{ %>
                    <div class="loginFull">
                        <span style="text-align: center; color: white" class="btn">Log in to your account</span>
                        <a class="btnLoginModal"
                            ><button class="btn btn-light my-2 my-sm-0 btn-block" type="button">Login/Register</button>
                        </a>
                    </div>
                    <div class="loginIcon">
                        <a class="btnLoginModal" style="width: 100px; margin-right: -2rem"
                            ><span style="color: white" class="fs-2 bx bxs-user btn"></span
                        ></a>
                    </div>
                    <div class="m-4 mt-1">
                        <a
                            data-bs-toggle="offcanvas"
                            href="#offcanvasCart"
                            role="button"
                            aria-controls="offcanvasExample"
                            id="cart"
                            ><div class="cart">
                                <span id="cart-items-count"></span>
                                <!--   <span class="count">1</span> -->
                                <i style="color: white" class="bx bx-cart fs-2"></i>
                            </div>
                        </a>
                    </div>
                    <%} %>
                </form>
            </div>
        </div>
    </nav>
</div>

<div
    class="offcanvas offcanvas-top"
    style="margin-top: 10vh; max-width: 55vh; border-radius: 0 0 30px 10px"
    tabindex="-1"
    id="searchbar"
    aria-labelledby="offcanvasTopLabel"
>
    <div class="offcanvas-header p-3">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="d-flex div-height-anim" style="width: 100%; flex-direction: column; align-items: flex-start">
            <input placeholder="Search" type="text" id="searchbar-input" class="form-control" />
            <div
                class="mt-2 div-height-anim"
                style="width: 100%; max-height: 60vh; overflow-y: auto"
                id="search-results"
            >
                <p class="text-center lighter-text mt-3">Search by product name or id.</p>
            </div>
        </div>
    </div>
</div>

<%- include('../categories/sidenav-categories') %> <%- include('../cart/sidenav-cart') %>
