<link rel="stylesheet" href="stylesheets/cartstyle.css" />
<div data-cart="true" class="container isCart">
    <div data-cart="true" class="shopping-cart isCart">
        <div data-cart="true" class="shopping-cart-header">
            <span data-cart="true" style="font-size: 20px"
                >Your Shopping Cart (<% if(CARTPRODUCTS){%><%- CARTPRODUCTS.length %><%} %>)</span
            >
            <br />
        </div>

        <!--end shopping-cart-header -->
        <% if(!CARTPRODUCTS){%>
        <div id="cart-items"></div>
        <% }else{%>
        <div data-cart="true">
            <ul data-cart="true" class="shopping-cart-items isCart" style="overflow-y: scroll; max-height: 210px">
                <% var total=0; if(CARTPRODUCTS){CARTPRODUCTS.forEach(CARTPRODUCTS => {%> <% total+=1 %>
                <li data-cart="true" class="clearfix isCart" style="max-height: 150px">
                    <img
                        data-cart="true"
                        src="<%- CARTPRODUCTS.PRODUCT.img %>"
                        alt="item1"
                        class="mt-3 mr-2"
                        style="
                            max-width: 75px;
                            padding-right: 5px;
                            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        "
                    />
                    <span data-cart="true" class="item-name" style="text-align: left"
                        ><p style="white-space: nowrap; overflow: hidden; display: block; text-overflow: ellipsis">
                            <%- CARTPRODUCTS.PRODUCT.name %>
                        </p></span
                    >
                    <span data-cart="true" class="item-quantity" style="float: left"
                        >Quantity: <%- CARTPRODUCTS.quantity %></span
                    >
                    <span data-cart="true" class="item-price" style="float: right"
                        ><%- CARTPRODUCTS.PRODUCT.price.toFixed(2) %>€</span
                    >
                </li>
                <% })}%>
            </ul>
            <div
                data-cart="true"
                class="shopping-cart-total mb-50 isCart"
                style="font-size: 16px; border-top: 1px solid rgb(61, 60, 60)"
            >
                <span data-cart="true" class="lighter-text mt-3" style="float: left">Total:</span>
                <span data-cart="true" class="main-color-text mt-3" style="float: right"><%- total.toFixed(2) %>€</span>
            </div>
        </div>
        <% }%>

        <a href="#" data-cart="true" class="btn btn-dark btn-block mt-50">Checkout</a>
    </div>
    <!--end shopping-cart -->
</div>
<script src="../../public/js//cart.js"></script>
